body{
  min-height:100vh;
  margin:0;
  display:flex;
  justify-content:center;
  align-items:center;
  background:linear-gradient(
    135deg,
    #0b2a4a,
    #1e3c72
  );
  font-family:'Poppins',sans-serif;
}

.portal-container{
  display:flex;
  gap:30px;
  justify-content:center;
  align-items:center;
  flex-wrap:wrap;
}

.portal-card{
  width:350px;
  min-height:420px;

  padding:30px;

  background:rgba(255,255,255,.1);

  backdrop-filter:blur(15px);

  border-radius:20px;

  border:1px solid rgba(255,255,255,.2);

  color:white;
  text-align:center;
}

.qr-image{
  width:220px;
  height:220px;

  background:white;
  padding:10px;

  border-radius:10px;
}

.portal-card h2{
  margin-bottom:15px;
}

.portal-card p{
  opacity:.8;
  margin-bottom:20px;
}

.portal-card input{
  width:100%;
  padding:12px;
  margin-bottom:10px;

  border:none;
  border-radius:10px;

  background:rgba(255,255,255,.15);
  color:white;
}

.portal-card input::placeholder{
  color:rgba(255,255,255,.7);
}

.portal-card button{
  width:100%;
  padding:12px;

  border:none;
  border-radius:10px;

  background:#0ea5e9;
  color:white;

  cursor:pointer;
  font-weight:600;
}

.portal-card button:hover{
  transform:translateY(-2px);
}
